.row
  .large-12.columns.post_content
    = post_content(post.content)

.row
  .small-10.columns.small-centered
    %ul.button-group.radius.evaluation_button_list
      %li= link_to t("accept_eval"), accept_post_path(post.id), class: "button small accept_evaluation_button no-bottom-margin", method: :post
      %li= link_to t("decline_eval"), decline_post_path(post.id), class: "button small decline_evaluation_button no-bottom-margin", method: :delete
      %li= link_to t("pass_eval"), pass_post_path(post.id), class: "button small pass_evaluation_button no-bottom-margin", method: :put