.freed_entry_box        
  .row
    .small-12.columns.freed_box_title
      = link_to feed.goal, feed_path(feed)
  / .row
  /   .small-4.columns.freed_box_stats
  /     Con:
  /     = feed.contributors(feed.status).count
  /   .small-4.columns.freed_box_stats
  /     Pos:
  /     = feed.active_posts.count
  /     &frasl;
  /     = feed.posts.count
  /   .small-4.columns.freed_box_stats
  /     Ev:
  /     = Evaluation.not_pending_evaluations_of_feed(feed.id).count
  /     &frasl;
  /     = Evaluation.all_evaluations_of_feed(feed.id).count