- if feed.status == "active"
  - status_class = "freed_entry_color"   
- else 
  - status_class = "free_entry_color"
  
- if @created_feeds.include? feed  
  - status_class << " created_feed"

- if @feeds_to_evaluate.include? feed
  - status_class << " pending_feed"

.feed_box{class: status_class}
  .row
    .small-12.columns.freed_box_title
      = link_to feed.goal, feed_path(feed)
      - if @feeds_to_evaluate.include? feed
        .label.pending_evaluation.radius= feed.evaluations.where(user_id: current_user.id, status: "pending").length


/ .row
/   .small-4.columns.freed_box_stats
/     Con:
/     = feed.contributors(feed.status).count
/   .small-4.columns.freed_box_stats
/     Pos:
/     = feed.active_posts.count
/     &frasl;
/     = feed.posts.count
/   .small-4.columns.freed_box_stats
/     Ev:
/     = Evaluation.not_pending_evaluations_of_feed(feed.id).count
/     &frasl;
/     = Evaluation.all_evaluations_of_feed(feed.id).count