- if feed.status == "active"
  - status_class = "active_entry_color"   
- else 
  - status_class = "free_entry_color"
  
- if @created_feeds.include? feed  
  - status_class << " created_feed"

- if @feeds_to_evaluate.include? feed
  - status_class << " pending_feed"

.feed_box{class: status_class}
  .row
    .small-3.columns
      = image_tag("stage" + feed.stage.to_s + ".png", size: "80x80", :alt => t("feed_lvl0"))
      .label.top-margin.radius= feed.lang
      - if @feeds_to_evaluate.include? feed
        .label.top-margin.pending_evaluation.radius= feed.evaluations.where(user_id: current_user.id, status: "pending").length
    .small-9.columns.freed_box_title
      = link_to feed.goal, feed_path(feed)



