.row
  .large-12.columns.post_content
    = simple_format(post.content.html_safe)
.row
  .small-5.columns.post_footer.post_creator
    = post.creator.name if post.anonymity == "visible"
  .small-5.columns.post_footer.post_datetime
    = l(post.updated_at, format: :long)