.row
  .small-12.columns
    .post_content
      = simple_format(post.content.html_safe)
.row
  .small-10.small-offset-1.columns.end
    .progress.radius.no-bottom-margin
      .meter{:style => "width: " + ((post.all_evaluated.count.to_f/post.real_evaluations.count.to_f)*100).to_i.to_s + "%"}
.row
  .small-5.columns
    .post_footer.post_creator
      = t("post_in_evaluation")
  .small-3.columns
    .post_footer
      -unless @evaluated_active_post[post.id] == nil
        %span.has-tip.tip-bottom{class: "radius", "data-options" => "disable_for_touch:true", "data-tooltip" => "", title: t('user_tooltip_' + @evaluated_active_post[post.id].to_s)}
          = t("user_eval_" + @evaluated_active_post[post.id].to_s) 
  .small-3.columns
    .post_footer.post_datetime
      = l(post.created_at.localtime, format: :long)
    
    
   