- if @feed.status == "toddler"
  .toddler_stats
    .row
      .small-12.columns.text-center
        %h5= t("toddler_needs_contributors")
    .row
      .small-2.columns
        to
      .small-8.columns
        .progress.small-12.radius
          .meter{:style => "width: " + ((@feed.contributors("toddler").count.to_f/MIN_CONTR_LVL1.to_f)*100).to_i.to_s + "%"}
      .small-2.columns
        pu
    - if @feed.contributors("toddler").count >= MIN_CONTR_LVL1
      .row
        .small-12.columns.text-center
          %h5= t("toddler_needs_accepted_contributors")
      .row
        .small-2.columns
          pu
        .small-8.columns
          .progress.small-12.success.radius
            .meter{:style => "width: " + ((@feed.contributors("adolescent").count.to_f/MIN_CONTR_LVL1.to_f)*100).to_i.to_s + "%"}
        .small-2.columns
          ad