.row.top-margin
  .large-4.columns
    .freed_header
      Newest
    .freed_list
      - @active_feeds.each do |feed|
        = render "feed_box", feed: feed
  .large-4.columns    
    .freed_header
      Most active
  .large-4.columns
    .freed_header
      Waiting to kick off
    .freed_list
      - @toddler_feeds.each do |feed|
        = render "feed_box", feed: feed

= link_to 'New Feed', new_feed_path


