.row.top-margin
  .large-12.columns
    .freed_header
      = t('my_feeds')

  - @feeds.each_slice(3) do |tripplets|
    .row
      - tripplets.each_with_index do |feed, i|
        .large-4.columns{class: ("end" if i == tripplets.size-1)}  
          .freed_list
            = render "feed_box", feed: feed
    




