.row
  .small-8.columns
    test
  .small-4.columns
    .row
      .small-12.columns
        = render "devise/sessions/new"
    .row
      .small-12.coulmns
        = render "devise/registrations/new"