.row
  .large-12.columns.top-margin
    %h3= t('new_post')
.row
  .medium-5.medium-push-7.columns
    = render "feeds/codex_short", feed: @post.feed
  .medium-7.medium-pull-5.columns
    = render 'form'




