// import the CSS framework
@import "foundation";

/*body{
	background: #FFF url(background_diagonal.png) repeat fixed !important;
}*/

// override for the 'Home' navigation link
.top-bar .name {
  font-size: rem-calc(13);
  line-height: 410px; }
.top-bar .name a {
  font-weight: normal;
  color: white;
  padding: 0 110px; }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create mixins using Foundation classes
@mixin twelve-columns {
  @extend .small-12;
  @extend .columns;
  }
@mixin six-columns-centered {
  @extend .small-6;
  @extend .columns;
  @extend .text-center;
  }
// create your own classes
// to make views framework-neutral
.column {
  @include six-columns-centered;
  }
.form {
  @include grid-column(6);
  }
.form-centered {
  @include six-columns-centered;
  }
.submit {
  @extend .button;
  @extend .radius;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @include twelve-columns;
  background-color: #eee;
  }
/*section {
  @extend .row;
  margin-top: 20px;
  }*/


.top-margin{
	margin-top: 10px;
}

.freed_header{
	text-align:center;
	font-size: 150%;
	margin: 10px 0px 20px 0px;
}

.freed_list{
	text-align:center;
	list-style-type: none;
	margin: 0px;
}

.feed_box{
	border-radius: 10px; 
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px; 
	margin: 10px 0px;
	padding: 10px;
	text-align:center;
}

.freed_entry_color{
	background-color: #CCCCFF;
}

.toddler_entry_color{
	background-color: #CCE6FF;
}

.created_feed{
/*	border: 2px dashed #FFFFFF;*/
	font-weight: bold;
}

.pending_feed{
	border: 2px dashed #FFFFCC;
}

.freed_box_title{
	padding: 0.5em;
	text-align:center;
	font-size: 120%;
	color: #aaf;
}

.freed_box_stats{
	padding: 0.5em;
	font-size: 70%;
}


.codex{
	border-radius: 10px; 
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px; 
	border: 2px dashed #960000;
	background-color: #FFFFCC;
	margin: 10px 0px;
}

.codex_why, .codex_what, .codex_how, .codex_misc, .codex_description{
	margin: 10px 0px 0px 10px;
	font-size: 110%;
}

.codex_why_content, .codex_what_content, .codex_how_content{
	margin: 0.5em 2em 1.5em 2em;
	font-weight: bold;
}

.codex_misc_content, .codex_description_content{
	margin: 0.5em 2em 1.5em 2em;
}

.feed_stats{
	border-radius: 10px; 
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px; 
	background-color: #FFFFCC;
	margin: 10px 0px;
	padding: 10px;
}

.feed_what_box{
	border-radius: 10px; 
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px; 
	background-color: #FFFFCC;
	padding: 10px;
	text-align: left;
}

.feed_what_box ul{
	margin: 0px 15px;
}

.toddler_stats{
	border-radius: 10px; 
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px; 
	background-color: #CCE6FF;
	margin: 10px 0px;
	padding: 10px;
}

.active_post{
	border-radius: 10px; 
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px; 
/*	border: 2px solid #5768BA;*/
	background-color: #CCFFE6;
	margin: 10px 0px;
	font: 120%;
	font-weight: bold;
}

.feed_box .active_post{
	margin: 0px !important;
}

.post_content{
	margin: 10px;
}

.post_footer{
	font: 60% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	color: #666;
	margin: 3px 10px 3px 10px;
}

.post_creator{
	text-align: left;
}

.post_datetime{
	text-align: right;
}

.evaluate_post{
	border-radius: 10px; 
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px; 
/*	border: 2px dashed #960000;*/
	background-color: #FFFFCC;
	margin: 10px 0px;
	font-weight: bold;
}

.evaluation_content{
	font: 120%;
	color: #000;
	margin: 10px;
}

.evaluation_button_list{
	margin: 0px 10px;
}

.pass_evaluation_button, .accept_evaluation_button, .decline_evaluation_button{
	border: 1px solid #FFCB70;
	background-color: #FFF48F;
	color: #666;
}

.accept_evaluation_button:hover{
	background-color: #C4FFCA;	
/*	border: 1px solid #4CB332;*/
	color: #666;
}

.decline_evaluation_button:hover{
	background-color: #FFDEDE;	
/*	border: 1px solid #FF3D3D;*/
	color: #666;
}

.pass_evaluation_button:hover{
	background-color: #E0E0E0;	
/*	border: 1px solid #6E6C68;*/
	color: #666;
}

.waiting_posts{
		border-radius: 10px; 
		-moz-border-radius: 10px; 
		-webkit-border-radius: 10px; 
	/*	border: 2px solid #5768BA;*/
		background-color: #CCE6FF;
		margin: 10px 0px;
		font: 90%;
}

.evaluated_posts{
	margin: 10px 0px;
}

.evaluated_post_content{
		-webkit-border-top-left-radius: 10px;
		-webkit-border-top-right-radius: 10px;
		-moz-border-radius-topleft: 10px;
		-moz-border-radius-topright: 10px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		background-color: #CCE6FF;
		padding: 5px 10px;
}

.evaluated_post_status{
		-webkit-border-bottom-right-radius: 10px;
		-webkit-border-bottom-left-radius: 10px;
		-moz-border-radius-bottomright: 10px;
		-moz-border-radius-bottomleft: 10px;
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 10px;
		padding: 5px 10px;
}

.accepted{
	background-color: #C4FFCA;	
}

.declined{
	background-color: #FFDEDE;	
}

.passed{
	background-color: #E0E0E0;	
}

.waiting_posts{
		background-color: #CCFFFF;
}

.new_feed_why, .new_feed_how, .new_feed_what, .new_feed_rest, .new_post_content{
		border-radius: 10px; 
		-moz-border-radius: 10px; 
		-webkit-border-radius: 10px; 
	/*	border: 2px dashed #960000;*/
		background-color: #FFFFCC;
		margin: 10px 0px;
		padding: 10px;
}


.new_feed_why, .new_post_content{
	background-color: #CCCCFF;
}
.new_feed_how{
	background-color: #CCE6FF;
}
.new_feed_what{
	background-color: #CCFFFF;
}
.new_feed_rest{
	background-color: #FFFFCC;
}