.row
  .large-12.columns
    .footer
      %ul.inline-list
        %li= link_to "Impressum", "http://www.ovantu.com"
        %li= link_to "Disclaimer", "http://www.ovantu.com"
        %li= link_to "Contact", "http://www.ovantu.com"
        %li= link_to "ovantu.com", "http://www.ovantu.com"      