%nav.tab-bar.show-for-small
  %a.left-off-canvas-toggle.menu-icon
    %span Foundation
%aside.left-off-canvas-menu
  %ul.off-canvas-list
    %li
      %label.first freedster
    %li
      %a{href: "#"}
  %hr/
  %ul.off-canvas-list
    %li
      %label Setup
    %li
      %a{href: "#css"} CSS
    %li
      %a{href: "../sass.html"} Sass
    %li
      %a{href: "#rails"} Rails
    %li
      %a{href: "global.html"} Global Styles
    %li
      %a{href: "#upgrading"} Upgrading
    %hr/
    %li
      %label Structure
    %li
      %a{href: "#mediaQueries"} Media Queries
    %li
      %a{href: "grid.html"} Grid
    %li
      %a{href: "block_grid.html"} Block Grid
    %li
      %a{href: "interchange.html"}
        Interchange Responsive Content
        %span.label JS
    %li
      %a{href: "thumbnails.html"} Thumbnails
    %li
      %a{href: "#utilityClasses"} Utility Classes
    %li
      %a{href: "#rtl"} Right-to-Left Support
%a.exit-off-canvas{href: "#"}